body{
    font-style: italic;
    background-color: aquamarine;
    font-size: medium;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-color: azure;
}